<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>633103334646-1tff102l3thaak5g96vok6c2dm2tchk6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.633103334646-1tff102l3thaak5g96vok6c2dm2tchk6</string>
	<key>API_KEY</key>
	<string>AIzaSyDlfet-FPAdHISK62f5pvVqOa-kvVLu57o</string>
	<key>GCM_SENDER_ID</key>
	<string>633103334646</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.bebsi.prep</string>
	<key>PROJECT_ID</key>
	<string>prep-232116</string>
	<key>STORAGE_BUCKET</key>
	<string>prep-232116.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:633103334646:ios:c95e32521ac6a78d</string>
	<key>DATABASE_URL</key>
	<string>https://prep-232116.firebaseio.com</string>
</dict>
</plist>
